
{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
CADASTRO DE SERVIÇOS
{% endblock title %}

{% block content %}                
<div class="card card-primary"> 
    <div class="card-header">
        <div class="card-title"><b>CADASTRO DE SERVIÇOS</b></div>        
    </div>
    <div class="card-body">
        <form method="POST">
            <br>
            {% csrf_token %}
            {% bootstrap_form form_servico %}
            <br>
            <button class="btn btn-info" type="submit">SALVAR</button>
        </form> 
    </div>
</div>   
{% endblock content %}
