
{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
CADASTRO DE SERVIÇOS
{% endblock title %}

{% block content %}                
<div class="card card-primary"> 
    <div class="card-header">
        <div class="card-title"><b>
            {% if request.resolver_match.url_name == 'cadastrar_servico' %} 
                CADASTRO DE SERVIÇOS         
            {% else %}
                EDIÇÃO DE SERVIÇOS
            {% endif %} </b>
        </div>
    </div>
    <div class="card-body">
        <form method="POST">
            <br>
            {% csrf_token %}
            {% bootstrap_form form_servico %}
            <br>
            <button class="btn btn-info" type="submit">SALVAR</button>
        </form> 
    </div>
</div>   
{% endblock content %}
