{% extends 'base.html' %}
{% block title %}
LISTA DE SERVIÇOS
{% endblock title %}
{% block content %}

<div class="card card-primary"> 
    <div class="card-header">
        <div class="card-title"><b>
            LISTA DE SERVIÇOS CADASTRADOS</b>
        </div>
    </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                <td><b>NOME </b></td>
                <td><b>VALOR MÍNIMO </b></td>
                <td><b>AÇÕES </b></td>
                </tr>
            </thead>
            <tbody>
                {% for servico in servicos %}
                <tr>
                    <td>{{servico.nome}}</td>
                    <td>{{servico.valor_minimo}}</td>
                    <td>
                        <a href="{% url 'editar_servico' servico.id %}">Editar</a>
                        <a href="#">|</a>
                        <a href="{% url 'remover_servico' servico.id %}"><font color="red">Remover</font></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'cadastrar_servico' %}" class="btn btn-primary">CADASTRAR</a>
</div>

{% endblock content %}
