{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title"><b>
                ALTERAÇÃO DE SENHA
            </div>
        </div>       
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}               
                <input type="submit" class="btn btn-primary" value="Salvar"> <br>
                <br>
            </form>
        </div>
    </div>
{% endblock content %}