{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<!-- aqui estamos renderizando o formulário de cadastro de usuário atraves das views de usuario_forms-->
<div class="card card-primary">
    <div class="card-header">
        <div class="card-title"><b>CADASTRO DE USUÁRIOS</b></div>        
    </div>       
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {% bootstrap_field form_usuario.username %}
            </div>
            <div class="form-group">
                {% bootstrap_field form_usuario.first_name %}
            </div>
            <div class="form-group">
                {% bootstrap_field form_usuario.email %}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {% bootstrap_field form_usuario.password1 %}                    
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">                  
                        {% bootstrap_field form_usuario.password2 %}
                    </div>
                </div>
            </div>               
            <input type="submit" class="btn btn-primary" value="Cadastrar-se"> <br>
            <br>
        </form>
    </div>
</div>
{% endblock content %}
