{% extends 'base.html' %}
{% block title %}
LISTA DE USUÁRIOS
{% endblock title %}
{% block content %}

<div class="card card-primary">
    <div class="card-header">
        <div class="card-title"><b>
            LISTA DE SERVIÇOS CADASTRADOS</b>
        </div>
    </div> 
    <div class="card-body p-0">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th><b>USERNAME </b></td>                    
                    <th><b>AÇÕES </b></td>                      
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario.username}}</td>
                                       
                        <td>
                            <a href="{% url 'editar_usuario' usuario.id %}">Editar</a>
                            <a href="#">|</a>
                            <a href="#"><font color="red">Remover</font></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<br>

<a href="{%url 'cadastrar_usuario' %}" class="btn btn-primary"><b>CADASTRAR</b></a><br>
<br>

{% endblock content %}
